.header {

    box-sizing: border-box;
    display: table;
    margin:  31px;
    overflow: hidden;
    color: #2e3092;
    font-family: "Bree Serif"
  }
  
  
  .content {
    padding: 1rem;
    color: #747474;
    font-family: "Bree Serif"
  }

  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    white-space: pre-line;  
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }